.s360-advanced-header-field {
  width: 100%;

  > .details-wrapper {
    border: 1px solid #d1d1d1;
    margin-bottom: 1rem;
    padding: 0;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    fieldset:not(.fieldgroup) {
      border: none;
      margin: 0;
      padding: 20px;
      padding-bottom: 0px;
      min-width: fit-content;
      position: relative;
    }
  }

  &__text {
    width: 100%;
    grid-column: 1 / -1;

    .fieldset-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 15px 20px;

      select {
        min-width: 100%;
      }
    }

    [class*="subtitle"] {
      grid-column: span 2;
    }

    .form-item {
      margin-bottom: 0px;
    }
  }

  &__options {
    margin-bottom: 0;

    &[open] {
      summary {
        padding-bottom: 10px;
      }
    }

    summary {
      padding-bottom: 20px;
    }

    .details-wrapper {
      padding: 0;
      padding-bottom: 20px;
    }

    .form-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--display {
      .form-checkboxes {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        .option,
        .form-item {
          margin-bottom: 0;
        }
      }
    }
  }
}
